@model ProductViewModel
@{
    ViewData["Title"] = "EditProduct";
}

<script>
    $(document).ready(function () {
        $("#fileImage").change(function (e) {
            $("#imgPreview").show()
            $("#imgPreview").attr('src', URL.createObjectURL(e.target.files[0]));

        })
    })
</script>

<h1>EditProduct</h1>

<div class="wrapper">
    <div class="panel-content d-flex">
        <div class="panel-container">
            <div class="panel-tab">
                <div class="box-model">
                    <div class="register-model">
                        <form asp-controller="Admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="Id" value="@Model.Id"/>
                            <input type="hidden" name="Categories" value="@Model.Categories" />
                            <div class="input-box">
                                <label>Product Name</label>
                                <input type="text" asp-for="Name" value="@Model.Name" required placeholder="Write product name here">
                                <span asp-validation-for="Name"></span>
                            </div>

                            <div class="input-box">
                                <label>Price</label>
                                <input type="text" asp-for="Price" value="@Model.Price" required placeholder="Write price here">
                                <span asp-validation-for="Price"></span>
                            </div>
                            <div class="input-box">
                                <label>Description</label>
                                <textarea rows="5" cols="" asp-for="Description" value="@Model.Description" required placeholder="Write description here"></textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                            @foreach(var item in Model.Images)
                            {
                                <div class="input-box">
                                    <label asp-for="@item.ImageUrl">Image</label>
                                    <img src="~/Image/@item.ImageUrl" width="80" id="imgPreview" />
                                    <input type="file" name="files" id="fileImage">
                                </div>
                            }               
                            <button type="submit" class="btn">Apply</button>

                            @foreach (var item in (List<Category>)ViewBag.Categories)
                            {
                                <label for ="category@(item.Id)">@item.Name</label>
                                <input type="checkbox"
                                    name="categoryIds"
                                    value="@item.Id"
                                    id="category@(item.Id)"
                                    @(Model.Categories.Any(i => i.Id == item.Id)?"checked":"")/>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>